body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*@media screen and (max-width: 850px){
  .content{
    display: none;
  }
}

@media screen and (min-width: 850px){
  .msg-error-mobile{
    display: none!important;
  }
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  scroll-behavior: smooth;
}

.react-reveal{
  width: 100%;
}